.section {
	padding: 2rem 0.75rem;

	&-content {
		padding: 0.75rem;
	}

	// .section-title
	&-title {
		@include font(3.25rem, $weight: bold, $line-height: 1.25);
		margin-top: 1rem;

		&::after {
			content: '.';
			color: $--color-accent-default;
		}
	}
}

// Override styles for the section classes based on the page ids
@import '../../styles/modules/overrides.scss';

// Theming
:global([data-preferred-color-scheme="oceanic"]) .section-title::after {
	color: $--color-accent-oceanic;
}

:global([data-preferred-color-scheme="cookie"]) .section-title::after {
	color: $--color-accent-cookie;
}

:global([data-preferred-color-scheme="pumpkin"]) .section-title::after {
	color: $--color-accent-pumpkin;
}